html {
    height: 100%;
}

body { 
    margin:0;
    height: 100%;
    font-family: Georgia;
    background: #444;
    color: #fff;
}

a{
    color: #fff;
    font-weight: bold;
}

header {
    padding: 10px;
    background:#DB7093;
    color:#fff;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: 5px
}

nav {
    background: #DB7093;
    border-style: solid;
    border-color: white;
    border-width: 5px
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 20px;
    font-size: 24px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

section { 
    width: 90%;
    margin: 0 auto;
    min-height: 800px;
}

section img {
    margin-top: 20px;
    width: 90%;
  }

footer {
    text-align: center;
    padding: 10px;
}